
body { 
	background-color: black;
	color: white;
	font-family: avenir;
	text-align: center;
}

.container {
/*	background-color: red;*/
	width: 100%;
	color: purple;
}

.team_names {
	background-color: orange;
	color: blue;
	table-layout: fixed;
	width: 50%;
	margin-top: 0;
}

table#yep {
	color: grey;
	position: relative;
/*	float: left;*/
	width: 100%;
}

table#yep th {
/*	color: brown;*/
	text-align: right;
	float: left;
	padding: top 0;
	background-color: green;
	width: 100%;
}

table#yep tr {
	float: left;
	position: relative;
}

table#yep td{
	color: grey;
	text-align: left;
	padding-top: 20px;
}

.player_names {
	/*background-color: green;*/
	font-family: avenir;
	width: 100%;
	float: left;
}

table#nup {
	color: blue;
}

h2 {
	padding: top 0;
	margin-top: 0;
	content: 80x80;

}

/*#team_names {
	background-color: red;
	width: 15%;
	float: left;*/
/*}*/







/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
